.row
  .twelve.columns.header
    %h1= t('welcome')
    %p
      = t('logged_in_as')
      %strong= current_user

.row.content
  .four.columns  
    = image_tag "bravia.png"

  .eight.columns
    .message
      = image_tag "icon-ok.png"
      %p= t('linked_message')

    .message
      = image_tag "icon-forward.png"
      %p 
        Please go to 
        = link_to "www.filmboxlive.com", "http://www.filmboxlive.com", target: :blank
        to purchase a package. 

