.row
  .twelve.columns.header
    %h1 Welcome FilmBOX service for Sony Bravia TV
    %p Login to manage your account

.row.forms
  .four.columns
    = image_tag "bravia.png"

  .four.columns
    %h3 Login
    = form_for :session, :url => "/sessions" do |f|
      = f.label :username,  "Username or email" 
      = f.text_field :username
      = f.label :password, "Password"
      = f.password_field :password
      = label(:remember, :me) do
        = f.check_box :remember_me
        %span.custom.checkbox Remember me
      %p= f.submit "Login", :class => "small button"

  .four.columns
    %h3 Register new account
    = form_for :users, :url => "/users" do |f| 
      = f.label :full_name, "Full Name:" 
      = f.text_field :full_name
      = f.label :email, "Email:"
      = f.text_field :email
      = f.label "Password:"
      = f.password_field :password
      %span.notice Please note: Your password should contain a minimum of 6 characters
      %p= f.submit "Create account", class: "small button"


